@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: $blue;
  }

  button {
    background: $green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 20px 20px;
    box-shadow: 0px 0px 3px 1px #888;
    position: absolute; top: 0px; right: 0px;
  }
